*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
  background-color: #F9F9F8;
  background-image:url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0096 20.5254C23.2774 21.6689 27.6641 19.1362 28.8076 14.8685C29.9511 10.6008 27.4185 6.21409 23.1507 5.07055C18.883 3.92702 14.4963 6.45968 13.3528 10.7274C12.2093 14.9951 14.7419 19.3818 19.0096 20.5254ZM19.5273 18.5935C22.7281 19.4512 26.0181 17.5517 26.8757 14.3509C27.7334 11.1501 25.8339 7.86005 22.6331 7.0024C19.4323 6.14475 16.1423 8.04425 15.2846 11.245C14.427 14.4458 16.3265 17.7359 19.5273 18.5935ZM53.3558 21.4462L60.6428 17.2391L59.6428 15.507L52.3558 19.7141L48.1487 12.4272L46.4167 13.4272L50.6238 20.7141L43.3369 24.9212L44.3369 26.6533L51.6238 22.4462L55.8309 29.7331L57.563 28.7331L53.3558 21.4462ZM41.6371 59.7172C45.9048 60.8607 50.2915 58.3281 51.435 54.0603C52.5786 49.7926 50.0459 45.4059 45.7782 44.2624C41.5104 43.1189 37.1237 45.6515 35.9802 49.9192C34.8367 54.187 37.3693 58.5737 41.6371 59.7172ZM42.1547 57.7853C45.3555 58.643 48.6455 56.7435 49.5032 53.5427C50.3608 50.3419 48.4613 47.0519 45.2605 46.1942C42.0597 45.3366 38.7697 47.2361 37.9121 50.4369C37.0544 53.6377 38.9539 56.9277 42.1547 57.7853ZM14.164 44.0736L21.4509 39.8665L20.4509 38.1345L13.164 42.3416L8.9569 35.0546L7.22485 36.0546L11.432 43.3416L4.14504 47.5487L5.14504 49.2807L12.432 45.0736L16.6391 52.3605L18.3711 51.3605L14.164 44.0736Z' fill='%233c3f3f' fill-opacity='0.05' fill-rule='evenodd'/%3E%3C/svg%3E")
}

::-webkit-scrollbar {
    display: none;
}
.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  overflow: hidden;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo{
  width: 50px;
  cursor: pointer;
  margin: 30px 0;
}
.menu-icon{
  width: 25px;
  cursor: pointer;
  display: none;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}
nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
nav ul li a:hover{
  color: #1DCCDF;
}

/* Partie PS4 */

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-1{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-1 h2{
  font-size: 54px;
}
.col-1 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-1 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-1 h4{
  margin: 30px 0;
  font-size: 20px;
}
button{
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #1DCCDF, #04E593);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}
button a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}
button a:hover{
  text-decoration: none;
  color: #000;
  font-size: 14px;
}
.col-1::after{
  content:'';
  width: 10px;
  height: 57%;
  background: linear-gradient(#1DCCDF, #04E593);
  position: absolute;
  left: -40px;
  top: 8px;
  border-radius: 5px;
}
.col-2{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-2 .controller{
  width: 90%
}
.color-box{
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#1DCCDF, #04E593);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(150px);
}

/* Partie PS5 */

.row-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-3{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-3 h2{
  font-size: 54px;
}
.col-3 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-3 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-3 h4{
  margin: 30px 0;
  font-size: 20px;
}
.col-3::after{
  content:'';
  width: 10px;
  height: 57%;
  background: linear-gradient(#1DCCDF, #04E593);
  position: absolute;
  left: -40px;
  top: 8px;
  border-radius: 5px;
}
.col-4{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-4 .controller{
  width: 90%
}
.color-box2{
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(#1DCCDF, #04E593);
  border-radius: 0 20px 20px 0;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(-150px);
}

/* Partie XBOX1 */

.row-3{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 0;
}
.col-5{
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}
.col-5 h2{
  font-size: 54px;
}
.col-5 h3{
  font-size: 30px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-5 p{
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-5 h4{
  margin: 30px 0;
  font-size: 20px;
}
.col-5::after{
  content:'';
  width: 10px;
  height: 57%;
  background: linear-gradient(#1DCCDF, #04E593);
  position: absolute;
  left: -40px;
  top: 8px;
  border-radius: 5px;
}
.col-6{
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
}
.col-6 .controller{
  width: 90%
}
.color-box{
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(#1DCCDF, #04E593);
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 80%;
  z-index: -1;
  transform: translateX(150px);
}

.social-links img{
  height: 20px;
  margin: 31px;
  cursor: pointer;
}
.social-links{
  text-align: center;
}

@media only screen and (max-width: 700px){

  nav ul{
    width: 100%;
    background: linear-gradient(#1DCCDF, #04E593);
    position: absolute;
    top: 75px;
    right: 0;
    z-index: 2;
  }
  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  .menu-icon{
    display: block;
  }
  #menuList{
    overflow: hidden;
    transition: 0.5s;
  }
  .row{
    flex-direction: column-reverse;
    margin: 50px 0;
  }
  .col-2{
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .col-2 .controller{
    width: 77%;
  }
  .color-box{
    transform: translateX(75px);
  }
  .col-1{
    flex-basis: 100%;
  }
  .col-1 h2{
    font-size: 35px;
  }
  .col-1 h3{
    font-size: 15px;
  }
}
